*{
  margin: 0;
  padding: 0; 
}
.textAnalysis{
  color: aliceblue;
  margin: 15px;
  display: flex;
  flex-direction: column;
}
input{
  width: 100%;
  height: 30vh;
  margin: 30px 0;
  border-radius: 15px;
  background-color: #808080;
  padding: 0;
}
.btn{
  display: flex;
  gap: 10px;
}
button{
  width: fit-content;
  background-color: #0C70FC;
  color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 15px;
}
.findReplace{
  margin-top: 10px;
  /* background-color: #0C70FC; */
}
.findReplace input{
height: 15px;
width: 50% ;
padding: 10px;
border: none;
}
.findReplace button{
  margin-left: 10px;
}